simpleTransition(s, d, e, ed)
   -webkit-transition s d e ed
   -moz-transition s d e ed
   -o-transition s d e ed
   transition s d e ed



html
   width 100%
   height 100%

*
   font-family Arial

body
   
   margin 0
   background #000000
   overflow hidden
   
   
   width 100%
   height 100%

   



a
   text-decoration none
   outline 0


input.plainButton
   background none
   font-size 20px
   border none
   color inherit
   cursor pointer
   cursor hand
   padding 0
   margin 0
   
input.plainButton:hover
   text-decoration underline

.floatRight
   float right

.bottomRight
   position absolute
   bottom 0px
   right 10px
   z-index 25

.blackBoard

      
   border 24px solid #5f261b 
   
   -webkit-border-radius 10px
   -moz-border-radius 10px
   border-radius 10px
   
   background #f0f0f0
   
  
   


.blackBoard .boardInner

   position absolute
   left -1px
   top -1px
      
   width 100%
   height 100%
   
   border 1px solid #000
   overflow hidden



.wideShadow
   
   box-shadow 0 0 25px #000000
   -webkit-box-shadow  0 0 25px #000000



.insetShadow
   
   box-shadow 0 0 5px #000 inset
   -webkit-box-shadow  0 0 5px #000 inset





#wrapper
   
   width 900px
   height 600px
   position absolute
   left 50%
   top 50%
   margin-left -450px
   margin-top -300px
   color #000
   font-size 20px
   font-weight bold
   
   



#wrapper #content
   width 100%
   height 100%
   position absolute
   display none
  
#wrapper #description
   width 100%
   height 100%
   position absolute
     

#description #descriptionCover
   width 80%
   height 80%
   position absolute
   left 10%
   top 10%
   

#description h1
   font-size 18px

#description details
   font-size 18px
   width 100%


